@model ABCD_Client.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Login Form Example</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="~/css/login2.css">

</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="login-form">
        <form  action="/Customers/Login" method="post">
            <h1>Login</h1>
            <div class="content">
                <div class="input-field">
                    <input name="username" type="text" placeholder="User Name" autocomplete="nope">
                </div>
                <div class="input-field">
                    <input name="password" type="password" placeholder="Password" autocomplete="new-password">
                </div>
            </div>
            <div class="action">
                <button>Register</button>
                <button type="submit">Sign in</button>
            </div>
        </form>
    </div>
    <!-- partial -->
    <script>

        let form = document.querySelecter('form');

        form.addEventListener('submit', (e) => {
            e.preventDefault();
            return false;
        });
    </script>

</body>
</html>
